.signup-background {
    --background: #f2f2f2;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-card {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}