<ion-header>
  <ion-toolbar>
    <ion-title>My Album</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addPhoto()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photos; let i = index">
        <ion-card (click)="viewPhoto(i)">
          <img [src]="photo.webviewPath" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>